.logo-boolean{
    max-width: 80px;
    max-height: 80px;
}


header{
    height: 80px;
}


.fa-bell{
    color: orange;
}


.wrapper{
    height: calc(100vh - 80px);
}

nav{
    height: 100%;
    flex-shrink: 0;
    flex:0 0 100px;
    background-color: rgb(31, 25, 98);
    background-image:url('./img/sidebar-bg.png')
}

.nav-item{
    transition: all 0.5s ease;
}

.nav-item:hover{
    border-radius: 5px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.453);

}




.main-dashboard{
    height: 100%;
    overflow: auto;
    flex: 1 1 auto;
}

.main-header{
    background-color: rgb(60, 154, 255);
}

.avatar-container{
    max-width: 30px;

}

.font-size-small{
    font-size: 0.8rem;
}

@media screen and (min-width: 992px){
    
    .logo-boolean{
        max-width: 150px;
        max-height: 150px;
    }

    nav{
        flex-basis: 200px;
    }
}


