.logo-boolean{
    max-width: 80px;
    max-height: 80px;
}


header{
    height: 80px;
}


.fa-bell{
    color: orange;
}


.wrapper{
    height: calc(100vh - 80px);
}

nav{
    height: 100%;
    flex-shrink: 0;
    flex:0 0 100px;
    background-color: rgb(15, 15, 66);
}

.main-dashboard{
    height: 100%;
    overflow: auto;
    flex: 1 1 auto;
}

.main-header{
    height: 200px;
    background-color: rgb(0, 123, 255);
}




@media screen and (min-width: 768px){
    nav{
        flex-basis: 230px;
    }
}
